################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/packages
**/.vs
[Oo]bj/
[Bb]in/
pkg/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.dbmdl
*.jfm
